<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a
      [routerLink]="['view-employee']"
      class="nav-link"
      class="btn btn-primary active"
      role="button"
      >View Employee</a
    >

    <a
      style="margin-left: 5px"
      [routerLink]="['add-employee']"
      class="nav-link"
      class="btn btn-primary active"
      role="button"
      >Add Employee</a
    >
  </nav>
</div>
<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
